body {
    background: lightgray;
    max-width: 1000px;
    margin: 0 auto;   
    width: 100vw;
    
    }
    header{
      font-size: 30px;
      text-align: center
      
    }
    .buttonMath, .buttonUS, .buttonSports, .buttonAnime, .buttonMusic{
      font-size: 25px;
      padding: 10px 25px;
    }
    .buttonMath {
        background-color: blue;
        
      }
      
      .buttonUS {
        background-color: red;
        
      }
    .buttonSports {
        background-color: orange;
      
      }
    .buttonAnime {
      background-color: pink;
     
    }
    
    .buttonMusic {
      background-color: yellow;
      
      
    }

    .math-wrapper, .ushistory-wrapper, .sports-wrapper, .anime-wrapper, .music-wrapper {
      display: none;
    }

    .math-wrapper, .ushistory-wrapper, .sports-wrapper, .anime-wrapper, .music-wrapper{
      border-style: solid;
      display: flex;
      flex-direction: column;
      display: none;
    }
    .math-question, .ushistory-question, .sports-question, .anime-question, .music-question {
      border-style: solid;
      

    }
    .math-answer, .ushistory-answer, .sports-answer, .anime-answer, .music-answer{
      border-style: solid;

    }
    .answerPanel{
      display: flex;
      font-size: 25px;
      padding: 10px 25px;
      justify-content: space-between;
     

    }
        
    .enlaringButtons {
      display: flex;
      justify-content: space-between;
    }
    
    .mathSuccess, .usSuccess, .sportsSuccess, .animeSuccess, .musicSuccess {
      background-color: yellow;
      padding: 10px
    }
    
    .results {
      display: flex;
      justify-content: space-around;
      font-size: 60px;
    }

    .results p {
      display: none;
    }

    


    
    