body {
    background: lightgray;
    }
    header{
      font-size: 30px;
      text-align: center
      
    }
    .buttonMath {
        background-color: blue;
      }
      
      .buttonUS {
        background-color: red;
      }
      .buttonSports {
        background-color: orange;
      }
      .buttonAnime {
          background-color: pink;
      }
      .buttonFlags {
        background-color: green;
      }
